@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1eded;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-size: 1.5rem;
}

.todolist {
  list-style: none;
}

.text {
  font-size: 18px;
  font-weight: 600;
}

.task {
  background-color: #fff;
  margin-block: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.checked {
  text-decoration: line-through;
}

.input-form {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.form {
  margin: auto;
  max-width: 800px;
  height: 80%;
  margin-top: 50px;
}

.input-form input {
  border: none;
  width: 100%;
  font-size: 18px;
}

.click-check {
  cursor: pointer;
}

i {
  color: #666;
  cursor: pointer;
  visibility: hidden;
  font-size: 20px;
}

.task:hover i {
  visibility: visible;
}

.input-form:hover i {
  visibility: visible;
}

i:hover {
  color: #444;
}

.input-form input:focus {
  border: none;
  outline: none;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 800;
}

.delete-animation {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.links {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  padding: 20px;
  align-items: center;
  height: 90px;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.panel {
  list-style: none;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  right: 0;
  width: 200px;
  border-radius: 5px;
  box-shadow: 5px 7px 23px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.panel li {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.profil {
  position: relative;
}

.profil-img {
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
  height: 60px;
}

.logo {
  font-weight: bold;
}
